@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar gizle */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Özel scrollbar - sağ panel içerik alanı */
.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #1f2937;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}
